

<div class="card" style="width: 400px; margin: auto;  margin-top: 5%">
  <div class="card-body">
  	<h1 style="text-align: center;">Login</h1>
    <%= form_tag sessions_path, {class: "needs-validation", novalidate: true} do %>
      <div class="field">
        
        <%= text_field_tag :staff_no, params[:staff_no], {class: "form-control", placeholder: "Staff Number", required: true} %>
        <div class="invalid-feedback">
          Please enter your staff number.
        </div>
      </div>
      <div class="field">
        <br>
        <%= password_field_tag :password, "", {class: "form-control", placeholder: "Password", required: true} %>
        <div class="invalid-feedback">
          Please enter your password.
        </div>
      </div>
      <br>
      <div class="actions"><%= submit_tag "Log In", class: "btn btn-info btn-block" %></div>
    <% end %>
  </div>
</div>
